*, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header.header .header__image {
    background: url('../assets/foto-header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 490px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

header.header .header__image .header__image--title {
    color: #fff;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.41);
}

header.header .header__description {
    padding: 20px;
    text-align: center;
}

header.header .header__description .header__description--text {
    color: #7D7877;
    font-weight: bold;
}

header.header .header__open-jobs {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

header.header .header__open-jobs .header__open-jobs--separator {
    width: 280px;
    height: 2px;
    color: #adadad;
    background: #adadad;
    font-size: 0;
    border: 0;
}

header.header .header__open-jobs .header__open-jobs--link {
    color: #359C9C;
    padding-top: 15px;
    font-size: 20px;
}

header.header .header__open-jobs .header__open-jobs--link:hover {
    text-decoration: underline;
    cursor: pointer;
}

main.main {
    background-color: #F8F8F8;
    padding: 40px;
    margin: 30px 0 0 0;
}

main.main .main__ceo-words {
    display: flex;
}

main.main .main__ceo-words--title {
    color: #7D7878;
}

main.main .main__ceo-words--author {
    color: #F9AF41;
}

main.main .main__ceo-words--testmonial {
    color: #7D7878;
    padding-top: 20px;
}

main.main .main__ceo-words--image {
    max-width: 100%;
}

main.main .main__ceo-words div {
    margin: 0 0 0 40px;
}

@media screen and (max-width: 800px) {
    main.main .main__ceo-words div {
        margin: 0;
    }

    main.main .main__ceo-words {
        flex-direction: column;
    }

    main.main .main__ceo-words--testmonial {
        text-align: center;
    }

    main.main .main__ceo-words--title {
        padding-top: 20px;
    }
 }

main.main .main__team {
    margin: 50px 0 0 0;
}

main.main .main__team .main__team--title {
    display: flex;
    justify-content: center;
}
main.main .main__team .main__team--title h2 {
    color: #7D7873;
    text-align: center;
    width: 250px;
}

main.main .main__team .main__team--people {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 40px;
}

main.main .main__team .main__team--people img{
    margin: 7px 7px;
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width: 800px) {
    main.main .main__team .main__team--people img{
        width: 25%;
    }
 }